/********Media Query******/
@media(max-width:992px){

    /*General*/
    
    .pr30px{
        padding-right: 30px;
    }
    
    .pr36px{
        padding-right: 36px;
    }
    
    .pb24px{
        padding-bottom: 24px;
    }
    
    .pl36px{
        padding-left: 36px;
    }
    
    .plr0{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .pl35px{
        padding-left: 35px;
    }
    
    .pr35px{
        padding-right: 35px;
    }
    
    .mb22px{
        margin-bottom: 22px;
    }
    
    .pb79px{
        padding-bottom: 79px;
    }
    /*******/
    .header-layout{
        padding:0px 36px 0px 36px;
    }
    
    /****/
    .spec{
        padding:0px 36px 0px 36px;
    }
    
    .card1{
        width:50%;
    }
    
    .card1 h3{
        font-size: 16px;
        line-height: 24px;
        color: black;
        font-weight: bold;
        max-width: 336px;
        font-family: sans-serif;
    }
    
    
    
    
    /***************/
    .pic-layout{
        flex-direction: column;
        align-items: center;
    }
    
    .pic-layout .card2{
        width: 100%;
        /* margin:0px 12px 0px 12px;
        box-sizing: border-box; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .pic-layout .card2 h2{
        margin-top: 8px;
        margin-bottom: 0px;
        padding-bottom: 24px;
        font-size: 48px;
        line-height: 72px;
        color:#AA0601;
    
    }
    
    .pb56px{
        padding-bottom: 56px;
    }
    
    .pic-wall .card2{
        width: 50%;
    }
    
    /***Union******/
    .card3-layout{
        padding: 0px 36px 80px 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /*Recommend*/
    .card4{
        width: 50%;
        box-sizing: border-box;
    }
    
    .card4 h2{
        max-width: 304px;
        min-height: 48px;
    }
    
    .outter{
        border: 1px solid #DEE2E6;
    }
    
    /*Form***/
    .btn-submit button{
        width: 50%;
    
    }

    /****Product Page****/
    .card-layout{
        width:50%;
    }
    
    
    }
    
    @media(max-width:767px){
        .container{
            max-width:100%;
            margin:0 auto;
        }
    
        .logo h1 a{
            width: 80px;
            height: 72px;
        }
    
        .header-layout{
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        .burger-menu{
            display: block;
            /* position: relative; */
        }
    
        .burger-menu label{
            display: block;
        }
    
        .burger-menu .material-symbols-outlined{
            display: inline-block;
            color: white;
            height: 30px;
            width: 20px;
        }
    
        .menu-content-layout{
            position: absolute;
            top:100%;
            left:0px;
            z-index: -1;
            display: flex;
            flex-direction: column;
            gap:0px;
            width: 100%;
            /* height: 100%; ????????*/
            background-color: #FBF2F2;
            transform:translateY(-150%);
            transition: all 0.5s;
        }

        .menu-content-layout li{
            padding-bottom: 0px;
            padding-top: 0px;
        }
    
        .menu-content-layout li a{
            padding-top: 13px;
            padding-bottom: 13px;
            text-align: center;
            display: block;
            color:#650300;
            width: 100%;
            border-bottom: 1px solid #000;
        }
    
        #toggle:checked ~ .menu-content-layout {
            transform: translateY(0%);
          }
    
        #toggle:checked ~ .menu-content-layout {
            border:1px solid white;
        }
    
    /*******/
    .icon-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .spec-layout>h2{
        font-size: 24px;
        line-height: 36px;
        padding-top: 40px;
        padding-bottom: 24px;
    }
    
    .card1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 0px 14px 24px 14px;
    }
    
    .card1 h3{
        font-size: 16px;
        line-height: 24px;
        color: black;
        font-weight: bold;
        max-width:348px;
        font-family: sans-serif;
    }
    
    /***Pic wall*****/
    .pic-layout .card2{
        width: 90%;
    }
    
    
    /******Recommand********/
    .card4{
        width: 100%;
        padding: 0px 11px 0px 11px;
    }
    
    /***Contact*****/
    .form-content{
        width: 100%;
    }
    
    .btn-submit button{
        width: 90%;
    }
    
    .input-element textarea{
        padding-bottom: 106px;
    }
    
    
    /*****Footer*******/
    .mobile-layout{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 24px;
    }
    
    .line1-logo img{
        width: 24px;
        margin-right: 8px;
    }
    
    .line1-content{
        display:none;
    }
    
    .line2 p{
        font-size: 16px;
        line-height: 24px;
    }
    
    .line2 span{
        font-size: 18px;
        margin-right: 11px;
        padding-left: 16px;
    }
    
    .pb31px{
        padding-bottom: 24px;
    }
    
    .mobile-layout2{
        display: flex;
        flex-direction: column;
        padding-left: 13px;
    }
    
    .policy{
        padding-bottom: 8px;
        margin-top: 16px;
    }
    
    .policy2{
        display: flex;
        flex-direction: column;
        gap:0px;
        margin-top: 0px;
    }
    
    .policy p{
        gap: 8px;
    }
    /****Product Pages*******/
    /***Menu Lane****/
.ml-layout li{
	font-size: 12px;
	line-height: 24px;
}

/********/
.img-left,
.img-right{
	min-height: 136px;
}

/*******/
.title{
	padding-top: 40px;
	font-size: 24px;
	line-height: 36px;
}

.sub-title{
	font-size: 24px;
	line-height: 36px;
	padding-bottom: 0px;
}


/******/

.card-layout{
	width: 100%;
	padding: 24px 14px 0px 14px;
}

/***Nav***/
.nav{
	padding-bottom: 63px;
}

.nav-layout{
	max-width: 100%;
}

.nav-layout li{
	font-size: 16px;
	line-height: 26px;
}

.nav-layout li{
	width: 9.6%
}

.nav-layout :nth-child(1),
.nav-layout :nth-last-child(1){
	width: 26%
}
    

    
    }