header{
	background-color: #AA0601;
}

.header-layout{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo h1 a{
	background-image: url(../images/logo-white.png);
	width: 80px;
	height: 80px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	text-indent:101%;
	white-space:nowrap;
	overflow:hidden;
	color: aqua;
}

.menu-content-layout{
	display: flex;
	flex-direction: row;
	gap: 64px;
  
  li a{
    color:white;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Noto Sans TC', sans-serif;
	text-decoration:none;
  }

} 

.burger-menu{
  label{
	  display:none;
  }

  input{
	  display:none;
  }
}

/************/
.ft-layout{
	background-color: #AA0601;
}

.ft-border{
	border-bottom: 1px solid white;

}

.line1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.line1-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.line1-content li p{
	font-size: 16px;
	line-height: 24px;
	color:white;
	margin-top: 60.02px;
	margin-right: 48px;
	margin-bottom: 35.98px;
}

.line1-logo{
	display: flex;
	flex-direction: row;
	align-items:center;
}

.line1-logo img{
	width: 48px;
	margin-right: 32px;
}

.mr0px img{
	margin-right: 0px;
}



.line2{
	color:white;
	margin-bottom: 8px;
}

.mb0px{
	margin-bottom: 0px;
}

.line2 p{
	font-size: 36px;
	line-height: 54px;
}

.line2 span{
	font-size: 36px;
	margin-right: 22px;
}

.policy{
	display: flex;
	flex-direction: row;
	margin-top: 31px;
	padding-bottom: 31px;
	font-size: 16px;
	gap: 48px;
	line-height: 24px;
	color: #FFFFFF;
}

