.mr64px{
	margin-right: 64px;
}

.ptb25px{
	padding-top: 25px;
	padding-bottom: 25px;
}

.mr24px{
	margin-right: 24px;
}

.pb0px{
	padding-bottom: 0px;
}

.mb0px{
	margin-bottom: 0px;
}

.ml0px{
	margin-left: 0px;
}

.mr0px{
	margin-right: 0px;
}

.pb80px{
	padding-bottom: 80px;
}

.mb16px{
	margin-bottom: 16px;
}

.pb32px{
	padding-bottom: 32px;
}

.pb31px{
	padding-bottom: 31px;
}

/*Container*/
.container{
    max-width: 1320px;
    margin:0 auto;
}
